body
{
    background-color: rgb(216, 19, 216);
    color: white;
}

span
{
  font-size: 30px;
}

label
{
  font-size: 14px;
  color: #62b33a;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}